<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head') %>
    <title>ERP - Customer</title>
    <script src="/js/dataEditInput.js" type="text/javascript" defer></script>
  </head>
  <body>
    <%- include('../../partials/sidebar') %>
    <main>
      <section>
        <h2>Customer Data</h2>
        <div class="customer-data-container">
          <%- include('../../components/dataEditInput', { customer, value: 'name' }) %>
          <%- include('../../components/dataEditInput', { customer, value: 'email' }) %>
          <%- include('../../components/dataEditInput', { customer, value: 'phone' }) %>
          <%- include('../../components/dataEditInput', { customer, value: 'status' }) %>
          <!-- Status handling is subject to change -->
        </div>
      </section>
    </main>
  </body>
</html>
