<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head') %>
    <title>ERP - Customer</title>
  </head>
  <body>
    <%- include('../../partials/sidebar') %>
    <main>
      <section>
        <h2>Customer Data</h2>
        <div class="customer-data-container">
          <div class="customer-data-placeholder">
            <label for="customer-name">Name:</label>
            <span>
              <img />
              <input
                type="text"
                id="customer-name"
                value="<%= customer.name %>"
                disabled
              />
              <div class="customer-data-options">
                <button class="edit-option">
                  <img src="/assets/pencil_3917376.svg" />
                </button>
                <button class="edit-submit hidden">
                  <img src="/assets/check_3917749.svg" />
                </button>
                <button class="edit-cancel hidden">
                  <img src="/assets/cross-small_3917195.svg" />
                </button>
                <button class="edit-loading hidden">
                  <img src="/assets/loading_3914371.svg" />
                </button>
              </div>
            </span>
          </div>
          <div class="customer-data-placeholder">
            <label for="customer-email">Email:</label>
            <span>
              <img />
              <input
                type="text"
                id="customer-email"
                value="<%= customer.email %>"
                disabled
              />
              <div class="customer-data-options">
                <button class="edit-option">
                  <img src="/assets/pencil_3917376.svg" />
                </button>
                <button class="edit-submit hidden">
                  <img src="/assets/check_3917749.svg" />
                </button>
                <button class="edit-cancel hidden">
                  <img src="/assets/cross-small_3917195.svg" />
                </button>
                <button class="edit-loading hidden">
                  <img src="/assets/loading_3914371.svg" />
                </button>
              </div>
            </span>
          </div>
          <div class="customer-data-placeholder">
            <label for="customer-phone">Phone:</label>
            <span>
              <img />
              <input
                type="text"
                id="customer-phone"
                value="<%= customer.phone %>"
                disabled
              />
              <div class="customer-data-options">
                <button class="edit-option">
                  <img src="/assets/pencil_3917376.svg" />
                </button>
                <button class="edit-submit hidden">
                  <img src="/assets/check_3917749.svg" />
                </button>
                <button class="edit-cancel hidden">
                  <img src="/assets/cross-small_3917195.svg" />
                </button>
                <button class="edit-loading hidden">
                  <img src="/assets/loading_3914371.svg" />
                </button>
              </div>
            </span>
          </div>
        </div>
      </section>
    </main>
  </body>
  <script>
    // Fetch Post
    const updateValue = (key, value) => {
      return fetch(window.location.href, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          [key]: value
        })
      })
    }

    // Button Actions
    const toggleButtons = (...buttons) => {
      buttons.forEach((button) => {
        if (!button.classList.contains('edit-loading')) {
          button.classList.toggle('hidden')
        }
      })
    }

    // Input actions
    document.querySelectorAll('.customer-data-placeholder').forEach((element) => {
      const input = element.querySelector('input')
      const options = element.querySelector(
        'input ~ .customer-data-options'
      )
      const [editButton, submitButton, cancelButton, loading] = options.querySelectorAll('button')
      let value = ''

      editButton.addEventListener('click', () => {
        value = input.value
        input.disabled = false
        input.setSelectionRange(value.length, value.length)
        input.focus()
        toggleButtons(editButton, submitButton, cancelButton)
      })

      cancelButton.addEventListener('click', () => {
        input.value = value
        input.disabled = true
        toggleButtons(editButton, submitButton, cancelButton)
      })
      
      submitButton.addEventListener('click', () => {
        toggleButtons(submitButton, cancelButton, loading)
        updateValue(input.id.split('-').pop(), input.value)
          .then((res) => {
            if (!res.ok) {
              input.value = value
            }
          })
          .catch(() => {
            input.value = value
          })
          .finally(() => {
            input.disabled = true
            toggleButtons(editButton, loading)
          })
      })
    })
  </script>
</html>
